:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #B9D9EB;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#sticky-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-bottom: black solid 1px;
}

#outer-sticky-bar {
  position: sticky;
  top: 0;
  overflow: visible;
  padding-bottom: 10px;
}

#button-row-left > * {
  margin-right: 15px;
}

#button-row-right > * {
  margin-left: 15px;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

#login-signup-form > * {
  margin: 10px;
}